#projects
  each p in projects
    .project
      .container
        .type= p.type
        .name
          a(href=p.link)= p.name
        .description!= p.description
        .link
          a(href=p.link)
            | #{p.linkText}
            span.icon.icon-chevron-right
